.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px 36px 36.51px;
  max-width: 430px;
  max-height: 330px;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}
.form__input {
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}
