.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 40px 0 50px;
}

.profile__img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}
.profile__info {
  display: flex;
  flex-direction: column;
  gap: 16px 18px;
  text-wrap: pretty;
}
.profile__name {
  display: inline;
  font-size: 42px;
  font-weight: 500;
  line-height: 46px;
  margin: 0;
}

.profile__about-me {
  font-size: 18px;
  line-height: 1.21;
  margin: 0;
  font-weight: 400;
}

.profile__popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.profile__popup_opened {
  display: flex;
}

@media screen and (max-width: 540px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .profile__container {
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    font-size: 22px;
    line-height: 26.63px;
  }
  .profile__about-me {
    font-size: 14px;
  }
}
